body {
    padding-top: 50px;
}

.container {
    width: 100%;
    padding-top: 30px;
}

#console {
    padding: 5px;
    width: 100%;
    height: 200px;
    color: whitesmoke;
    background: black;
    overflow-y: scroll;
    font-size: 10px;
}

.line {
    color: yellowgreen;
    display: inline-block;
    width: 32px;
}

footer {
    padding-bottom: 1.5em;
}